nav {
    display: flex;
    width: 80%;
    z-index: 0;
    position: relative;
    align-items: center;
    justify-content: end;

    li {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 15px;
    }

    ul {
        display: flex;
        width: 60%;
        justify-content: end;
    }

    ul li a {
        position: relative;
        margin: 15px;
        color: var(--blanco);
        margin-left: 8px;
        text-wrap: nowrap;
    }

    ul li:hover a {
        color: var(--gris-oscuro);
    }
}