@import url(./css/fawesome-all.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    text-decoration: none;
    list-style: none;
}

:root {
    --violeta-oscuro: #4942CE;
    --violeta-claro: #857FFF;
    --blanco: white;
    --gris-claro: #8F8E8E;
    --gris-oscuro: #2E2E2E;
    --azul-oscuro: #22263E;
    --verde-claro: #5AC25B;
    --verde-oscuro: #006b21;
    --naranja: #FF8200;
    --amarillo: yellow;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: var(--violeta-claro);
    color: white;
}

.letra-azul {
    color: var(--azul-oscuro);
}

.letra-blanca {
    color: var(--blanco);
}

.letra-negra {
    color: var(--gris-oscuro);
}

.letra-gris{
    color: var(--gris-claro);
}

.letra-violeta{
    color: var(--violeta-claro);
}

main{
    font-size: 1em;
    font-weight: 700;
    height: 65%;
    width: 100%;
    background-color: var(--azul-oscuro);
    padding: 2em 1em;
}

footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--violeta-claro);
    font-family: sans-serif;
    .info {
        height: 100%;
        width: 40%;
        position: relative;
        padding-bottom: 10px;
        .redes,
        .contactos {
            width: 60%;
            font-size: 25px;
            margin: auto;
            align-content: center;
            justify-content: space-between;
        }

        p{
            display: flex;
        }

        i {
            color: white;
            cursor: pointer;
            padding-top: 25px;
        }

        i:hover:first-child {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            transform: scale(1.2);
        }

        i:hover:last-child {
            color: black;
            transform: scale(1.2);
        }

        i:hover:nth-child(2) {
            color: blue;
            transform: scale(1.2);
        }

        .contactos {
            width: 70%;
            flex-direction: column;
            justify-content: start;
            margin-top: 15px;

            
            p:last-child span{
                font-size: 30px;
            }

            span{
                font-size: 25px;
                padding-right: 10px;
            }


            p:first-child span:hover{
                color: red;
            }

            p:last-child span:hover {
                color: green;
            }
        }
    }

    .derechos_autores{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 4%;
        bottom: 0;
        background-color: var(--gris-oscuro);
        i{
            margin-right: 5px;
        }

    }

    h3 {
        padding: 10px;
        text-align: center;
    }

    p {
        padding: 10px;
    }
}

header {
    width: 100%;
    height: 5%;
    background-color: var(--violeta-oscuro);
    color: var(--blanco);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    .icono {
        display: flex;
        position: relative;
        width: 40%;
        height: 30px;
        line-height: 35px;
        align-items: end;
        justify-content: end;

    }

    nav {
        display: flex;
        width: 80%;
        z-index: 0;
        position: relative;
        align-items: center;
        justify-content: end;

        li{
            display: flex;
            align-items: center ;
            justify-content: end;
            padding-right: 15px;
        }
        ul {
            display: flex;
            width: 60%;
            justify-content: end;
        }

        ul li a {
            position: relative;
            margin: 15px;
            color: var(--blanco);
        }

        ul li:hover a {
            color: var(--gris-oscuro);
        }
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#menuIcon {
    display: none;
}

.logo{
    height: 75px;
    width: 100px;
}

/* INPUTS Y BOTONES */

.linea_registro {
    color: var(--blanco);
    background: transparent;
    width: 100%;
    float: left;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 30px;
    
}

.btn_registro {
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--violeta-oscuro);
    border-radius: 25px;
}

.buscador,
.btn_lupa {
    height: 30px;
    width: 240px;
    font-size: 15px;
    background-color: var(--blanco);
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
}


.btn_lupa {
    width: 40px;
    top: -1px;
}


/* POSICIONAR DIVS EN COLUMNAS */

.Cammpo_registro {
    float: right;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* CONTENEDOR DE PRODUCTOS Y EMPLEADOS */

.productos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.info-contenedor {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 15px;
    background: rgba(211, 211, 211, 0.2);
    border-radius: 20px;
    cursor: pointer;
}

.contenedor_produ {
    margin: auto;
    width: 100%;

    .imagen_produ {
        position: relative;
        width: 80%;
        border-radius: 50%;
    }
}

.flex {
    display: flex;
    justify-content: start;
    padding: 5px;
}


@media (max-width: 1100px) {
    .logo {
        width: 20%;
    }

    header {
        .icono {
            width: 80%;
            justify-content: left;
            align-items: start;
        }

        nav {
            position: absolute;
            display: block;
            right: 0;
            width: 40%;
            z-index: 1;

            #menuIcon {
                display: block;
                position: absolute;
                right: 15px;
                top: -10px;
                cursor: pointer;
            }

            ul {
                display: inline-block;
                position: absolute;
                width: 80%;
                height: 100vh;
                right: -100%;
                background-color: var(--violeta-oscuro);
            }

            ul li {
                margin-top: 20px;
                width: 100%;
                height: 40px;
                text-align: left;
                position: relative;
                top: 50px;
            }
        }
    }

}

.mostrar {
    right: 0;
}

.p12R{
    padding-right: 12px;
}

.p12L{
    padding-left: 12px;
}

.font-17 {
    font-size: 17px;

}

.font-12{
    font-size: 15px;
}

.p10{
    padding: 10px;
}

/* Pantallas mas chicas*/
/* 
footer{
    flex-direction: column;
    padding: 20px;
}